/* Your custom styles */

@font-face {
	font-family: "VT323-Regular";
	src: url("../font/vt323/VT323-Regular.eot");
	/* IE9 Compat Modes */
	src: url("../font/vt323/VT323-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/vt323/VT323-Regular.otf") format("opentype"), /* Open Type Font */
	url("../font/vt323/VT323-Regular.svg") format("svg"), /* Legacy iOS */
	url("../font/vt323/VT323-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/vt323/VT323-Regular.woff") format("woff"), /* Modern Browsers */
	url("../font/vt323/VT323-Regular.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.pixel-font {
	font-family: "VT323-Regular";
}

.navbar {
	padding: 0px;
	color: white;
	box-shadow: 0 0 0 #fff !important;
}

body {
    /* background-image: url('../img/tile_scaled_1.png'); */
    background-color: black;
	color: white;
}
.gallery img {
    width: 100%;
}

.menu {
	font-size: 200%;
    text-align: center;
    vertical-align: bottom;
	height: 4.5rem;
}
.menu a {
    display: inline;
}

.menu-item {
	font-size: 100%;
    text-align: center;
    margin-top: 1rem;
}
.icons {
    text-align: left;
    font-size: 100%;
    margin-top: 1.2rem;
}
.icons a:hover {
    text-decoration: none;
}
.no-margins {
	margin: 0px;
}
a+i {
    text-align: center;
}

.no-padding {
	padding: 0px;
}
.img-thumbnail {
    /* border: 0px #fff solid; */
    padding: 0px;
}
button.btn-danger{
    width: 100%;
}
.ad-undervault {
    margin: auto;
	width: 100%;
}
.ad-undervault img {
     max-width: 100%;
}
.flavour-text {
    font-size: 200%;
    text-align: center;
}
.flavour-text-small {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
}

.faq-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.stores-buttons {
    margin: auto;
}
.stores-buttons div {
    display: table;
    margin: 0 auto;
}
.video-trailer {
	position: relative;
	left: 10%;
	width: 80%;
	border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    box-shadow: 1px 1px 1px 1px antiquewhite;
}

.no-drifted-row {
	padding-right: auto;
	padding-left: auto;
	margin-right: auto;
	margin-left: auto;
}

.itch {
    margin-top: 1%;
    margin-bottom: 1%;
}
.spacing-small {
	margin-top: 5%;
}

.card {
	border: 1px solid grey;
}

.card-text-title {
	position: absolute;
	top: 3%;
	left: 10%;
	font-family: "VT323-Regular";
	font-size: 350%;
}

.features {
	margin-top: 1%;
	position: relative;
	width: 75%;
	left: 12.5%;
}

.card-img-right {
	position: relative;
	max-height: 300px;
	width: 30vh;
}

.card-body {
	background-color: #171717;
}
form .subscribe-form.horizontal {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}
.card {
	max-height: 300px;
}

.card-text {
	text-align: right;
}

.right-side-text {
	text-align: right;
}

.border-down {
	width: 100%;
	border-bottom: 1px #fff solid;
}
p.feature-text {
    margin-bottom: 0.5rem;
}
.divider {
	margin-top: 2%;
}
.divider-small {
    margin-top: 0.5rem;
}

section.news {
	border-top: 1px #fff solid;
	width: 75%;
	position: relative;
	left: 12.5%;
}

section.contacts {
	border-top: 1px #fff solid;
	width: 75%;
	position: relative;
	left: 12.5%;
}

.news-title {
	font-size: 350%;
	font-stretch: -30%;
	border-bottom: 1px #fff solid;
	text-align: center;
}
.newsletter p {
    text-align: center;
    font-size: 150%;
}
.btn-link {
	background-color: #171717;
	font-size: 160%;
}

.news-card-body {
	background-color: #171717;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 3%;
}

section.news .card-header {
	background-color: #171717;

}

section.news button {
	width: 100%;
	text-align: center;
}

.splitter {
	border-top: 1px #fff solid;
	margin-bottom: 1%;
}

.news-content {
	max-height: 9999px;

}

footer {
	min-height: 100px;
	max-height: 100px;
}

footer img {
	min-height: 100px;
	max-height: 100px;
}

.pixel-font.centered {
	text-align: center;
}

.centered-element {
	position: relative;
	margin: auto;
}

.menu-item a {
	color: white;
}
html {
    overflow-y: scroll;
  }